!!!
%html
  %head
    %title My Sinatra Website
  %body
    #wrapper
      #header
        %h1 My Sinatra Website
        %h2 A Simple Site made with Sinatra and HAML!
      #content
        %h1 The Home Page
        %p
          Welcome to my website made with Sinatra and HAML.
        %p
          This is the home page and this is some text to fill out the home page!

          - @array = [1, 2, 3, 4, 5, 6, 7, 8]
          - @array.each do |a|
          %h4
              = a
      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage
      #footer
        %p
          This is the footer.